{{!< error}}

{{!-- Used specifically in index form submission --}}
<div class="container-fluid h-50 d-flex justify-content-center pt5">
    <div class="column my-auto">
        <h3 class="text-center">Something went wrong</h3>
        <p>Administrator has already been notified. Please check back again later.</p>
    </div>
</div>