{{!< error}}

<div class="container-fluid h-50 d-flex justify-content-center pt5">
    <div class="column my-auto">
        <h3 class="text-center">{{message}}</h3>
        <p>{{postscript}}</p>
    </div>
</div>s