{{#extend "main"}}
    {{#content "styles" mode="prepend"}}
       <link rel="stylesheet" href="../../public/css/styles.css">
    {{/content}}

    {{#content "content"}}
        <div class="container-fluid h-100 d-flex justify-content-center overflow-auto">
            <div class="row w-100">
                <div class="col-lg-7 col-md-7 col-sm-6 my-auto mx-auto main-column">
                    <div class="row p-0 m-0 border-0 box-shadow rounded">
                        <div class="col-lg-6 my-auto">
                            <div class="row justify-content-center pt-3 pb-4">
                                <img src="../../public/img/welcome.png" class="welcome-image">
                            </div>
                            <form id="chat-form" action="/chat.html" class="needs-validation form-group" novalidate>
                                <input type="hidden" name="room" id="room-qs">
                                <div class="row justify-content-center">
                                    <div class="col-auto p-0 form-inner-container">
                                        {{!-- <div class="row pb-4 m-0">
                                            <input type="text" id="email-text" autocomplete="off" placeholder="Email Address">
                                        </div> --}}
                                        <div class="row pb-4 m-0">
                                            <input type="text" name="username" id="username-text" data-testid="username-text" autocomplete="off"
                                                placeholder="User name" required>
                                                <div class="invalid-feedback" data-testid="username-feedback1">Please enter a valid user name</div>
                                                <div class="invalid-feedback" id="username-feedback">User name already in use</div>
                                        </div>
                                        <div class="row pb-3 m-0" id="room-div">
                                            <input type="text" id="room-text" autocomplete="off" placeholder="Room"
                                                required>
                                                <div class="invalid-feedback" data-testid="room-feedback">Please enter a valid room name</div>
                                        </div>
                                        <script id="active-rooms-template" type="text/html">
                                            <div class="row justify-content-around pb-3 m-0">
                                                <div class="col-5 text-right pr-1 or-line">__</div>
                                                <div class="col-auto text-middle p-0 or">or</div>
                                                <div class="col-5 text-left pl-1 or-line">__</div>
                                            </div>
                                            <div class="row pb-2 m-0">
                                                <div class="dropdown btn-block rounded">
                                                    <button class="btn dropdown-toggle active-rooms-button" type="button"
                                                        id="active-rooms" data-toggle="dropdown" data-hover="dropdown">
                                                        <span id="active-room-text">Join an active room</span>
                                                    </button>
                                                    <div class="dropdown-menu" id="active-rooms-menu">
                                                        \{{#rooms}}
                                                        <a class="dropdown-item" href="#" tabindex="-1">\{{.}}</a>
                                                        \{{/rooms}}
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#" tabindex="-1" id="clear">Clear
                                                            selection</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </script>
                                        <div class="row pb-4 m-0">
                                            <button type="submit" class="btn btn-block get-started-button" id="start-button">Get
                                                Started</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 d-md-block collapse image-card">
                            <div class="row justify-content-center">
                                <img src="../../public/img/chat-bubbles.png" class="image img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="duplicate-room-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Duplicate Room Name</h5>
                            <button type="button" class="close" id="modal-x-button">
                                <span\>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span id="modal-duplicate-room" class="font-weight-bold"></span> already exists. Join in
                            instead?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn modal-no-button" id="modal-no-button"><u>N</u>o</button>
                            <button type="button" class="btn modal-yes-button" id="modal-yes-button"><u>Y</u>es</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "scripts" mode="prepend"}}
        <script src="../../public/js/index/index-event-handlers.js"></script>
        <script src="../../public/js/index/index-modal.js"></script>
        <script src="../../public/js/index/index.js"></script>
    {{/content}}
{{/extend}}