* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #333333;
}

.main-div {
    max-height: 100vh;
}